---
layout: page
title: Events
permalink: /events.html
js: /js/firebaseauth.js
---

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">

<script>
	document.addEventListener('DOMContentLoaded', function() {
	        var calendarEl = document.getElementById('calendar');

	        var calendar = new FullCalendar.Calendar(calendarEl, {
	          plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
						header: {
				      left: 'prev,next today',
				      center: 'title',
				      right: 'dayGridMonth,timeGridWeek'
				    },
						events: '/calendar-data'
	        });

	        calendar.render();
	      });

</script>

<div id="calendar"></div>
<div class="posts-list">
  {% for event in site.events %}
		{% assign current_date = 'now' | date: '%s' %}
		{% assign event_formatted_date = event.event_starttime | date: '%s' %}
		{% if event_formatted_date > current_date %}
		  <article class="post-preview">
		    <a href="{{ event.url | relative_url }}">
			  <h2 class="post-title">{{ event.title }}</h2>

			  {% if post.subtitle %}
			  <h3 class="post-subtitle">
			    {{ post.subtitle }}
			  </h3>
			  {% endif %}
		    </a>

		    <div class="post-entry-container">
		      {% if event.image %}
		      <div class="post-image">
		        <a href="{{ event.url | relative_url }}">
		          <img src="{{ event.image | relative_url }}">
		        </a>
		      </div>
		      {% endif %}
		      <div class="post-entry">
						{% if event.normal_date_time %}
			        <p class="event-meta">{{ event.normal_date_time }}</p>
			      {% endif %}
						{% if event.location %}
			        <p class="event-meta">{{ event.location }}</p>
			      {% endif %}
						{% if event.address %}
			        <p class="event-meta">{{ event.address }}</p>
			      {% endif %}
						<hr>
		        {{ event.short-description }}
		      </div>
		    </div>

		   </article>
		{% endif %}
  {% endfor %}
</div>
