{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div hidden class="modal-body center" id="password-reset">
        <h1>Welcome to OSU IEEE!</h1>
        <p hidden class="text-danger center" id="mismatch-password-warning">The passwords don't match. Please try again.</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>Reset Password</h3>
              <div class="form-label-group">
                <input type="text" id="password-reset-email" class="form-control" placeholder="Email" required>
                <input type="password" id="password-reset-password" class="form-control" placeholder="Password" required>
                <input hidden type="password" id="reset-password-confirm" class="form-control" placeholder="Password" required>
              </div>
              <div class="form-label-group">
                <h1><btn class="form-btn btn-lg btn-primary" id="reset-password-submit">Reset Password</btn></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body center" id="login-signin">
        <h1>Welcome to OSU IEEE!</h1>
        <p hidden class="text-danger center" id="same-email-warning">An account already exists with that email address. Please sign in with your other account.</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <h1><button class="btn-primary" id="google-sign-in" class="center"><i class="fab fa-google" aria-hidden="true"></i>  Google</button></h1>
              <h1><button class="btn-primary" id="github-sign-in" class="center"><i class="fab fa-github" aria-hidden="true"></i>  GitHub</button></h1>
              <h1><button class="btn-primary" id="email-sign-in" class="center"><i class="far fa-envelope" aria-hidden="true"></i>   Email</button></h1>
            </div>
          </div>
        </div>
      </div>
      <div hidden class="modal-body center" id="login-email">
        <h1>Welcome to OSU IEEE!</h1>
        <p hidden class="text-danger center" id="incorrect-password-warning">The password you entered was incorrect. Please try again.</p>
        <p hidden class="text-danger center" id="mismatch-password-warning">The passwords don't match. Please try again.</p>
        <p hidden class="text-danger center" id="reset-email-sent">A password reset email was sent.</p>
        <p hidden class="text-danger center" id="invalid-email-warning">The email you entered is invalid. Please try again.</p>
        <p hidden class="text-danger center" id="weak-password-warning">The password you entered is not strong enough. Please try again.</p>
        <p hidden class="text-danger center" id="duplicate-email-warning">An account already exists with that email address. Please <a href="javascript:backToSignIn();">Sign In</a> with your other account.</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 id="sign-in-h3">Sign In with Email</h3>
              <div class="form-label-group">
                <input type="text" id="sign-in-email" class="form-control" placeholder="Email" required>
                <input type="password" id="sign-in-password" class="form-control" placeholder="Password" required>
                <input hidden type="password" id="sign-in-password-confirm" class="form-control" placeholder="Password" required>
              </div>
              <div class="form-label-group">
                <h1><btn class="form-btn btn-lg btn-primary" id="sign-in-submit">Sign In</btn></h1>
                <h1><btn hidden class="form-btn btn-lg btn-primary" id="sign-up-submit">Sign Up</btn></h1>
              </div>
              <p hidden id="forgot-password">Forgot Password? <a href="#">Send reset email</a></p>
              <p id="no-account">No account yet? <a href="javascript:createAccount();">Create an account</a></p>
              <p hidden id="back-to-sign-in"><a href="javascript:backToSignIn();">Back to Sign In</a></p>
            </div>
          </div>
        </div>
      </div>
      <div hidden class="modal-body center" id="login-wait">
        <img src="/img/loading.gif" width="200" height="200" class="img-fluid" alt="Please Wait...">
        <h4>Signing in...</h4>
      </div>
      <div hidden class="modal-body center" id="login-success">
        <h1>You're signed in!</h1>
        <h4 id="login-name"></h4>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newAccountModal" tabindex="-1" role="dialog" aria-labelledby="newAccountModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="newaccount-new">
        <div class="modal-body center">
          <h4>Welcome to IEEE. Let's get you set up!</h4>
          <p>Become a member by filling in the fields below.<br>If you are already a member, <a href="javascript:void(0);" id="newaccount-signout">sign out</a> and sign in with your original account.</p>
          <p hidden class="text-danger" id="newaccount-warning">Please complete all text fields.</p>
          <div class="form-label-group">
            <label for="newaccount-fname">First Name</label>
            <input type="text" id="newaccount-fname" class="form-control" placeholder="First Name" required autofocus>
          </div>
          <div class="form-label-group">
            <label for="newaccount-lname">Last Name</label>
            <input type="text" id="newaccount-lname" class="form-control" placeholder="Last Name" required>
          </div>
          <div class="form-label-group">
            <label for="newaccount-email">Email</label>
            <input type="email" id="newaccount-email" class="form-control" placeholder="Email" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" value="submit" class="form-btn btn-lg btn-primary" id="newaccount-submit">Set Up Account</button>
        </div>
      </div>

      <div hidden class="modal-body center" id="newaccount-wait">
        <img src="/img/loading.gif" width="200" height="200" class="img-fluid" alt="Please Wait...">
        <h4>Setting up your account...</h4>
      </div>

      <div hidden class="modal-body center" id="newaccount-success">
        <h1>Your account is ready!</h1>
        <h4>Thanks for becoming an IEEE member!<br>We'll take you back to your page momentarily...</h4>
      </div>

      <div hidden class="modal-body center" id="newaccount-failed">
        <h1>Oops, something happened!</h1>
        <p>Here's the error that occurred:</p>
        <p id="newaccount-error"></p>
        <p>Refresh the page and try again. If the issue persists, talk to an IEEE officer.</p>
      </div>
    </div>
  </div>
</div>

<!-- Firebase Script -->
<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var firebaseConfig = {
    apiKey: "AIzaSyAiDbb6jfPKWRTLd2ngGN8Cv1w3fm3VocM",
    authDomain: "auth.okstateieee.org",
    databaseURL: "https://osuieee-1e348.firebaseio.com",
    projectId: "osuieee-1e348",
    storageBucket: "osuieee-1e348.appspot.com",
    messagingSenderId: "33563678645",
    appId: "1:33563678645:web:a35db53aa30e568987ebfc"
  };
  firebase.initializeApp(firebaseConfig);
</script>

<!-- Firebase Auth -->
<script src="/js/setup.js" type="text/javascript"></script>
<script src="/js/helperFuncs.js" type="text/javascript"></script>
