---
layout: base
---

{% include header.html type="event" %}
<div class="container" role="main" id="flex-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <a class="companyitem-backlink" href="/company-connection">Back to All Companies</a>
      <br/>
      <article role="main" class="company-post">
        <div class="companyitem-column-meta">
          <h1 class="companyitem-title">{{ page.title }}</h1>
        </div>
        <div class="companyitem-column-content">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>
<script src="/js/firebaseauth.js" type="text/javascript"></script>
