---
layout: eventbase
---

{% include header.html type="event" %}
<div class="container" role="main" id="flex-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <a class="eventitem-backlink" href="/events">Back to All Events</a>
      <br/>
      <article role="main" class="event-post">
        <div class="eventitem-column-meta">
          <h1 class="eventitem-title">{{ page.title }}</h1>
          <span class="post-meta">{{ page.normal_date_time }}</span>
        </div>
        <div class="eventitem-column-content">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>
<script src="/js/firebaseauth.js" type="text/javascript"></script>
